GOOGLE_CLIENT_ID = 291140302306-r65q01al87vnv4kaotv7v8fbm7796mt5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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

JWT_SECRET = my_book-store_jwt_secret

URL_DB = mongodb://localhost:27017/ecommerce_db